@model PresMed.Models.Cid

@{
    ViewData["Title"] = $"Editar CID";
}


<div class="">
    <h3 class="display-6">@ViewData["TItle"]</h3>
</div>
<hr />


<form class="row g-3" asp-action="Edit">

    <input asp-for="@Model.Id" value="@Model.Id" type="hidden" />
    <div class="col-md-7">
        <label asp-for="@Model.Cod" class="form-label"></label><span class="text-danger">*</span>
        <input asp-for="@Model.Cod" type="text" class="form-control" id="nome" placeholder="Digite o nome completo do procedimento"></input>
        <span asp-validation-for="@Model.Cod" class="text-danger"></span>
    </div>


    <div class="col-md-7">
        <label asp-for="@Model.Description" class="form-label"></label><span class="text-danger">*</span>
        <input asp-for="@Model.Description" type="text" class="form-control" placeholder="Digite o TUSS completo" />
        <span asp-validation-for="@Model.Description" class="text-danger"></span>
    </div>
    <div class="col-12 mb-5">
        <button type="submit" class="btn btn-success">Alterar</button>
        <a role="button" class="btn btn-outline-secondary" asp-action="Index" asp-controller="Cid">Voltar</a>
    </div>

</form>