@model PresMed.Models.ClinicOpening

@{
    ViewData["Title"] = $"Configuração da clinica";

}

@if (TempData["SuccessMessage"] != null) {
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null) {
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        @TempData["ErrorMessage"]
    </div>
}

<div class="row me-5">
    <div class="col-lg-12">
        <span class="display-4">@ViewData["Title"]</span>
    </div>
</div>
<br />

<div class="row">
    <div class="col-lg-8">
        <div class="row mb-2">
            <div class="col-md-4">
                <span class="fw-bold">@Html.DisplayNameFor(model => model.InitialHour)</span>
            </div>
            <div class="col-md-4">
                @Model.InitialHour.ToShortTimeString()
            </div>

        </div>

        <div class="row mb-2">
            <div class="col-md-4">
                <span class="fw-bold">@Html.DisplayNameFor(model => model.EndHour)</span>
            </div>
            <div class="col-md-4">
                @Model.EndHour.ToShortTimeString()
            </div>

        </div>
        <div class="row mb-2">
            <div class="col-md-4">
                <span class="fw-bold">@Html.DisplayNameFor(model => model.State)</span>
            </div>
            <div class="col-md-7">
                @Html.DisplayFor(model => model.State)
            </div>

        </div>
        <div class="row mb-2">
            <div class="col-md-4">
                <span class="fw-bold">@Html.DisplayNameFor(model => model.City)</span>
            </div>
            <div class="col-md-7">
                @Html.DisplayFor(model => model.City)
            </div>

        </div>
        <div class="row mb-2">
            <div class="col-md-4">
                <span class="fw-bold">@Html.DisplayNameFor(model => model.District)</span>
            </div>
            <div class="col-md-7">
                @Html.DisplayFor(model => model.District)
            </div>

        </div>
        <div class="row mb-2">
            <div class="col-md-4">
                <span class="fw-bold">@Html.DisplayNameFor(model => model.Street)</span>
            </div>
            <div class="col-md-7">
                @Html.DisplayFor(model => model.Street)
            </div>

        </div>
        <div class="row mb-2">
            <div class="col-md-4">
                <span class="fw-bold">@Html.DisplayNameFor(model => model.Number)</span>
            </div>
            <div class="col-md-7">
                @Html.DisplayFor(model => model.Number)
            </div>

        </div>
        <div class="row mb-2">
            <div class="col-md-4">
                <span class="fw-bold">@Html.DisplayNameFor(model => model.Complement)</span>
            </div>
            <div class="col-md-7">
                @Html.DisplayFor(model => model.Complement)
            </div>
        </div>
        <div class="row mb-2">
            <div class="col-md-4">
                <span class="fw-bold">@Html.DisplayNameFor(model => model.AttestedText)</span>
            </div>
            <div class="col-md-7">
                @Html.DisplayFor(model => model.AttestedText)
            </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-4">
                <span class="fw-bold">@Html.DisplayNameFor(model => model.RecipeText)</span>
            </div>
            <div class="col-md-7">
                @Html.DisplayFor(model => model.RecipeText)
            </div>
        </div>

    </div>


    <div class="col-12 mt-5 mb-5">
        <a role="button" asp-route-id="@Model.Id" asp-action="Edit" asp-controller="ClinicOpening" class="btn btn-primary">Editar</a>
    </div>

</div>
