@model PresMed.Models.Doctor

@{
    ViewData["Title"] = $"Detalhes do medico {@Model.Name}";
}

<div class="">
    <h3 class="display-6">@ViewData["TItle"]</h3>
</div>
<hr />

<div class="row">
    <div class="col-lg-6">
        <h6 class="display-6">Dados Pessoais</h6>
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.User)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.User)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Cpf)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Cpf)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Phone)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Phone)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Crm)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Crm)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Speciality)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Speciality)
            </dd>
        </dl>
    </div>
    <div class="col-lg-6">
        <h6 class="display-6">Endereço</h6>
        <dl>
            <dt>
                @Html.DisplayNameFor(model => model.State)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.State)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.City)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.City)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.District)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.District)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Street)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Street)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Number)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Number)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Complement)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Complement)
            </dd>


        </dl>
    </div>
    @if (Model.Status == PresMed.Models.Enums.UserStatus.Ativo) {
        <form asp-action="Disable" asp-controller="Doctor" method="post" class="mb-5">
            <input hidden asp-for="Id" />
            <input type="submit" value="Desativar" class="btn btn-danger" />
            <a role="button" class="btn btn-secondary" asp-action="Index" asp-controller="Doctor">Voltar</a>
        </form>
    }
    @if (Model.Status == PresMed.Models.Enums.UserStatus.Inativado) {
        <form asp-action="Enable" asp-controller="Doctor" method="post" class="mb-5">
            <input hidden asp-for="Id" />
            <input type="submit" value="Ativar" class="btn btn-success" />
            <a role="button" class="btn btn-secondary" asp-action="Index" asp-controller="Doctor">Voltar</a>
        </form>
    }




</div>
