@model IEnumerable<PresMed.Models.Doctor>

@{
    
}

@if (TempData["SuccessMessage"] != null) {
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null) {
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        @TempData["ErrorMessage"]
    </div>
}

<div class="row me-5">
    <div class="col-lg-6">
        <span class="display-4">@ViewData["Title"]</span>
    </div>
    <div class="col-lg-2">
        <a asp-action="All" asp-controller="Doctor" class="link-dark  float-sm-end"><i class="fas fa-user d-block text-center" style="font-size:2rem; "></i><span>Desativados</span></a>
    </div>
    <div class="col-lg-2">
        <a asp-action="Index" asp-controller="Doctor" class="link-dark  float-sm-end"><i class="fas fa-user d-block text-center" style="font-size:2rem; "></i><span>Ativos</span></a>
    </div>
    <div class="col-lg-2">
        <a asp-action="New" asp-controller="Doctor" class="link-dark  float-sm-end"><i class="fas fa-plus d-block text-center text-success" style="font-size:2rem; "></i><span>Novo</span></a>
    </div>


</div>
<br />

<table class="table table-striped text-center" id="table-contacts">
    <thead>
        <tr>
            <th class="text-center" scope="col">#</th>
            <th class="text-center" scope="col">@Html.DisplayNameFor(model => model.Name)</th>
            <th class="text-center" scope="col">@Html.DisplayNameFor(model => model.Email)</th>
            <th class="text-center" scope="col">@Html.DisplayNameFor(model => model.User)</th>
            <th class="text-center" scope="col">@Html.DisplayNameFor(model => model.Crm)</th>
            @if (Model != null && Model.Any()) {
                <th class="text-center" scope="col">Ações</th>
            }
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any()) {
            @foreach (var item in Model) {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Email</td>
                    <td>@item.User</td>
                    <td>@item.Crm</td>
                    <td>
                        <div class="btn-group-sm" role="group">

                            @if (item.Status == PresMed.Models.Enums.UserStatus.Ativo) {
                                <a role="button" class="btn btn-primary" asp-route-id="@item.Id" asp-controller="Doctor" asp-action="Edit">Editar</a>
                                <a role="button" class="btn btn-dark" asp-route-id="@item.Id" asp-controller="Doctor" asp-action="Details">Detalhes</a>
                                <a role="button" class="btn btn-danger" asp-route-id="@item.Id" asp-controller="Doctor" asp-action="Disable">Desativar</a>
                            }
                            @if (item.Status == PresMed.Models.Enums.UserStatus.Inativado) {
                                <a role="button" class="btn btn-primary" asp-route-id="@item.Id" asp-controller="Doctor" asp-action="Edit">Editar</a>
                                <a role="button" class="btn btn-dark" asp-route-id="@item.Id" asp-controller="Doctor" asp-action="Details">Detalhes</a>
                                <a role="button" class="btn btn-success " asp-route-id="@item.Id" asp-controller="Doctor" asp-action="Disable">Ativar</a>
                            }

                        </div>
                    </td>
                </tr>
            }
        }
        else {
            <tr class="odd"><td valign="top" colspan="5">Nenhum medico encontrado</td></tr>
        }

    </tbody>
</table>