@model PresMed.Models.ViewModels.SchedulingViewModel
@{
    ViewData["Title"] = "Agendamentos";
}

@if (TempData["SuccessMessage"] != null) {
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null) {
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        @TempData["ErrorMessage"]
    </div>
}

<div class="row me-5">
    <div class="col-lg-6">
        <span class="display-4">@ViewData["Title"]</span>
    </div>
</div>
<br />

<form class="row g-3" asp-action="Scheduling">
    <legend>Seleção de agendamento</legend>
    <div class="col-md-4">
        <label class="form-label">Data de agendamento</label><span class="text-danger">*</span>
        <input asp-for="@Model.AttendenceDate" type="date" class="form-control" placeholder="Selecione o horario">
        <span class="text-danger"></span>
        <span asp-validation-for="@Model.AttendenceDate" class="text-danger"></span>
    </div>
    <div class="col-md-4 offset-1">
        <label class="form-label">Medico</label><span class="text-danger">*</span>
        <select asp-for="@Model.IdDoctor" class="form-select">
            @foreach (var item in Model.Doctors) {
                <option value="@item.Id">@item.Name</option>
            }
        </select>
        <span asp-validation-for="@Model.IdDoctor" class="text-danger"></span>
    </div>
    <div class="col-lg-1 offset-1 mt-5">
        <button type="submit" class="link-dark  float-sm-end"><i class="fas fa-search d-block text-center" style="font-size:2rem;"></i><span>Buscar</span></button>
    </div>
</form>

<hr />

@if (Model.Time != null) {

    <div>
        <p class="">Horario de atendimento do(a) medico(a)  @Model.Time.Person.Name, das  @Model.Time.InitialHour.ToShortTimeString() até @Model.Time.FinalHour.ToShortTimeString() </p>
    </div>

}

@if (Model.Schedulings != null) {
    <table class="table table-striped text-center pb-5" id="table-contacts">
        <thead>
            <tr>
                <th class="text-center" scope="col">Paciente</th>
                <th class="text-center" scope="col">Horario inicial</th>
                <th class="text-center" scope="col">Horario final</th>
                <th class="text-center" scope="col">Status do atendimento</th>

                @if (Model.Schedulings != null) {
                    <th class="text-center" scope="col">Ações</th>
                }
            </tr>
        </thead>
        <tbody>

            @if (Model.Schedulings != null) {
                int minutes = Model.Time.ServiceTime.Minute == 0 ? 60 : Model.Time.ServiceTime.Minute;
                var list = Model.Schedulings.ToArray();
                @for (int i = 0; i < Model.Time.HourPerDay; i++) {
                    <tr>
                        <td>
                            -
                        </td>
                        <td>
                            @Model.Time.InitialHour.AddMinutes(minutes * i).ToShortTimeString()
                        </td>
                        <td>
                            @Model.Time.InitialHour.AddMinutes(minutes * (i+1)).ToShortTimeString()
                        </td>
                        <td>
                            -
                        </td>
                        <td>
                        </td>

                    </tr>

                }
            }

        </tbody>
    </table>
}
else {
    <p>Pesquise um medico para começar</p>
}