@model IEnumerable<PresMed.Models.Scheduling>

@{
    ViewData["Title"] = "Agendamentos";
}

@if (TempData["SuccessMessage"] != null) {
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null) {
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        @TempData["ErrorMessage"]
    </div>
}

<div class="row me-5">
    <div class="col-lg-6">
        <span class="display-4">@ViewData["Title"]</span>
    </div>
</div>
<br />

<form class="row g-3">
    <legend>Seleção de agendamento</legend>
    <div class="col-md-4">
        <label class="form-label">Data de agendamento</label><span class="text-danger">*</span>
        <input type="date" class="form-control" placeholder="Selecione o horario">
        <span class="text-danger"></span>
    </div>
    <div class="col-md-4 offset-1">
        <label class="form-label">Medico</label><span class="text-danger">*</span>
        <select class="form-select">
            <option>Selecionar</option>
        </select>
    </div>
    <div class="col-lg-1 offset-1 mt-5">
        <a asp-action="Inactive" asp-controller="Procedures" class="link-dark  float-sm-end"><i class="fas fa-search d-block text-center" style="font-size:2rem;"></i><span>Buscar</span></a>
    </div>
</form>
<hr />
<table class="table table-striped text-center" id="table-contacts">
    <thead>
        <tr>
            <th class="text-center" scope="col">Medico</th>
            <th class="text-center" scope="col">Paciente</th>
            <th class="text-center" scope="col">@Html.DisplayNameFor(model => model.HourAttendence)</th>
            <th class="text-center" scope="col">@Html.DisplayNameFor(model => model.StatusAttendence)</th>

            @if (Model != null && Model.Any()) {
                <th class="text-center" scope="col">Ações</th>
            }
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any()) {
            @foreach (var item in Model) {
                <tr>
                    <td>@item.Medic.Name</td>
                    <td>@item.Pacient.Name</td>
                    <td>@item.HourAttendence</td>
                    <td>@item.StatusAttendence</td>

                </tr>
            }
        }
        else {
            <tr class="odd"><td valign="top" colspan="5">Nenhum registro encontrado</td></tr>
        }

    </tbody>
</table>