@model PresMed.Models.Procedures

@{
    ViewData["Title"] = "Cadastrar procedimento";
}


<div class="">
    <h3 class="display-6">@ViewData["TItle"]</h3>
</div>
<hr />


<form class="row g-3" asp-action="New" asp-controller="Procedures">
    <div class="col-md-7">
        <label asp-for="@Model.Name" class="form-label"></label><span class="text-danger">*</span>
        <input asp-for="@Model.Name" type="text" class="form-control" placeholder="Digite o nome completo">
        <span asp-validation-for="@Model.Name" class="text-danger"></span>
    </div>

    <div class="col-md-7">
        <label asp-for="@Model.Tuss" class="form-label"></label><span class="text-danger">*</span>
        <input asp-for="@Model.Tuss" type="text" class="form-control" placeholder="Digite o nome completo" onkeypress=" if (!isNaN(String.fromCharCode(window.event.keyCode))) return true; else return false;">
        <span asp-validation-for="@Model.Tuss" class="text-danger"></span>
    </div>

    <div class="col-12 mb-5">
        <button type="submit" class="btn btn-success">Cadastrar</button>
        <a role="button" class="btn btn-outline-secondary" asp-action="Index" asp-controller="Procedures">Voltar</a>
    </div>

</form>

