@model PresMed.Models.ViewModels.ChangePasswordViewModel

@{
    ViewData["Title"] = $"Alteração de senha";

}

@if (TempData["SuccessMessage"] != null) {
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null) {
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        @TempData["ErrorMessage"]
    </div>
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-6 d-flex ">
        <div class="col-lg-11">
            <form asp-controller="Home" asp-action="ChangePassword">
                <div class="mb-3">
                    <label for="user" class="form-label">Insira a senha</label>
                    <input asp-for="@Model.Password" type="text" class="form-control" id="user">
                    <span asp-validation-for="@Model.Password" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label for="user" class="form-label">Redefina a senha</label>
                    <input asp-for="@Model.ConfirmPassword" type="text" class="form-control" id="user">
                    <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="d-grid gap-2 mt-5">
                    <button type="submit" class="btn btn-success">Alterar senha</button>
                </div>
            </form>
        </div>
    </div>
</div>