@model PresMed.Models.Attendance

@{
    string[] firstName = Model.Patient.Name.Split(" ");
    ViewData["Title"] = $"Atendimento do paciente {firstName[0]}";
}


@if (TempData["SuccessMessage"] != null) {
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null) {
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        @TempData["ErrorMessage"]
    </div>
}

<div class="row me-5">
    <div class="col-lg-8">
        <span class="display-6">@ViewData["Title"]</span>
    </div>
</div>
<hr />



<form class="row g-3" asp-action="Prescription">

    <input asp-for="@Model.Doctor.Id" hidden value="@Model.Doctor.Id" />
    <input asp-for="@Model.Patient.Id" hidden value="@Model.Patient.Id" />

    <div class="col-md-6">

        <input asp-for="@Model.Report" type="text" class="form-control" placeholder="Digite o relatorio do atendimento">
        <span asp-validation-for="@Model.Report" class="text-danger"></span>

    </div>

    <div class="col-12 mb-5">
        <button type="submit" class="btn btn-success">Medicamentos</button>
        <a role="button" class="btn btn-outline-secondary" asp-action="Index" asp-controller="Attendance">Voltar</a>
    </div>

</form>