@model PresMed.Models.Attendance

@{
    string[] firstName = Model.Patient.Name.Split(" ");
    ViewData["Title"] = $"Atendimento do paciente {firstName[0]}";
}

@if (TempData["SuccessMessage"] != null) {
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null) {
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        @TempData["ErrorMessage"]
    </div>
}

<div class="row me-5">
    <div class="col-lg-8">
        <span class="display-6">@ViewData["Title"]</span>
    </div>
</div>

<hr />

<form class="row g-3" asp-action="Finalize" method="post">
    <div class="form-group col-12">
        <label asp-for="@Model.Report">@Html.DisplayNameFor(x => x.Report)</label>
        <textarea asp-for="@Model.Report" class="form-control" id="report" rows="3"></textarea>
    </div>

    <div class="col-12">
        <select class="form-select">
            @foreach (var item in Model.Medicine) {
                <option>@item.Name - @item.Concentration - @item.PharmaceuticalForm</option>
            }
        </select>
    </div>

    <div class="col-12 mb-5">
        <button type="submit" class="btn btn-success">Finalizar atendimento</button>
        <a role="button" class="btn btn-outline-secondary" asp-action="Index" asp-controller="Attendance">Voltar</a>
    </div>
</form>

