@using PresMed.Models.ViewModels
@model DashViewModel

@{
    ViewData["Title"] = $"Pagina Inicial Indicadores do dia {DateTime.Now.ToShortDateString()}";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-4">
        <div class="card m-5 text-center bg-ligth" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Atendimentos agendados</h5>
                <p class="card-text p-3">@Model.Agendado.Count()</p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card m-5 text-center bg-info text-light" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Atendimentos confirmados</h5>
                <p class="card-text p-3">@Model.Confirmado.Count()</p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card m-5 text-center bg-warning text-light" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Aguardando atendimento</h5>
                <p class="card-text p-3">@Model.Aguardando_atendimento.Count()</p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card m-5 text-center bg-success text-light" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Em atendimento</h5>
                <p class="card-text p-4">@Model.Em_atendimento.Count()</p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card m-5 text-center bg-danger text-light" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Atendimentos finalizados</h5>
                <p class="card-text p-3">@Model.Finalizado.Count()</p>
            </div>
        </div>
    </div>
</div>
