@{
    ViewData["Title"] = "Horario de atendimento dos medicos";

}

@if (TempData["SuccessMessage"] != null) {
    <div class="alert alert-dismissible alert-success">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        @TempData["SuccessMessage"]
    </div>
}

@if (TempData["ErrorMessage"] != null) {
    <div class="alert alert-dismissible alert-danger">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        @TempData["ErrorMessage"]
    </div>
}

<div class="row me-5">
    <div class="col-lg-12">
        <span class="display-4">@ViewData["Title"]</span>
    </div>
</div>
<br />

<table class="table table-striped text-center" id="table-contacts">
    <thead>
        <tr>
            <th class="text-center" scope="col">#</th>
            <th class="text-center" scope="col">Nome</th>
            <th class="text-center" scope="col">Hora Inicial</th>
            <th class="text-center" scope="col">Hora Final</th>

            @if (Model != null && Model.Any()) {
                <th class="text-center" scope="col">Ações</th>
            }
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any()) {

            @foreach (var item in Model) {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Email</td>
                    <td>@item.User</td>
                    <td>@item.Crm</td>
                    <td>
                        <div class="btn-group-sm" role="group">

                            @if (item.Status == PresMed.Models.Enums.Status.Ativo) {
                                <a role="button" class="btn btn-primary" asp-route-id="@item.Id" asp-controller="Doctor" asp-action="Edit">Editar</a>
                                <a role="button" class="btn btn-dark" asp-route-id="@item.Id" asp-controller="Doctor" asp-action="Details">Detalhes</a>
                                <a role="button" class="btn btn-danger" asp-route-id="@item.Id" asp-controller="Doctor" asp-action="Disable">Desativar</a>
                            }
                            @if (item.Status == PresMed.Models.Enums.Status.Desativado) {
                                <a role="button" class="btn btn-primary" asp-route-id="@item.Id" asp-controller="Doctor" asp-action="Edit">Editar</a>
                                <a role="button" class="btn btn-dark" asp-route-id="@item.Id" asp-controller="Doctor" asp-action="Details">Detalhes</a>
                                <a role="button" class="btn btn-success " asp-route-id="@item.Id" asp-controller="Doctor" asp-action="Enabled">Ativar</a>
                            }

                        </div>
                    </td>
                </tr>
            }
        }
        else {
            <tr class="odd"><td valign="top" colspan="5">Nenhum registro encontrado</td></tr>
        }

    </tbody>
</table>